{% extends "index.html" %}

{% block content %}
        <h1 class="text">Sign UP!!</h1>
        <form method="post">
            <label>
                *User Name:
                <input type ="text" name="user" value="{{four}}"/>
                <p class="error">{{zero}}<p>
            </label>
            <label>
                *Password:
                <input type ="password" name="pass"/>
                <p class="error">{{one}}<p>
            </label>
            <label>
                *Re-Type Password:
                <input type ="password" name="pass2"/>
                <p class="error">{{two}}<p>
            </label>
            <label>
                E-Mail:
                <input type ="text" name="mail" value="{{five}}"/>
                <p class="error">{{three}}<p>
            </label>
            <p class="error">* required field</p>
            <input type="submit" value="Create Account"/>
        </form>

        <!--{% if tasks|length == 0 %}
            <p>No tasks yet</p>
        {% else %}
            <ul>
                {% for task in tasks %}
                <li>{{task}}</li>
                {% endfor %}
            </ul>
        {% endif %}-->

{% endblock %}