.text {
    text-align: center;
    color: #40e;
}
.error{
    color: #b11;
    text-shadow: 0.05em 0.05em #009;
}
#big{
    font-size: 10em;
}
form {
    background-color: #77d;
    padding: 8em;
    margin: 0 auto;
    width: 12em;
    font: 16px serif;
    border-radius: 25%;
}
body{
    background-color: #250015
}